body{
    background-color: rgb(253, 251, 251);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
#cabecalho{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #1D2D44;
    color: #EEE5E9;
    z-index: 2;
    /* border: 2px solid red; */
}
#titulo{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    font-style: italic;
}
#minha_foto{
    position: fixed;
    left: 1015px;
    border-radius: 5%;
    box-shadow: 2px 2px 6px rgb(78, 78, 78);
    margin: 100px 10px 10px 0px ;
    width: 290px;
    border: 2px solid white;
}
#temas{
    display: inline-block;
    width: 75%;
    height: 290px;
    margin-top: 100px;
    /* z-index: 1; */
    /* border: 2px solid red; */
}
#licoes_aprendidas{
    display: inline-block;
    margin: 80px 10px 0 10px;
    /* border: 2px solid red; */
}
#licoes_a_aprender{
    display: inline-block;
    /* border: 2px solid red; */
}
span{
    font-size: 22px;
    font-weight: bold;
}
#tabela{
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 300px;
    margin: 16px 0 0 13px;
    overflow: auto;
    /* border: 2px solid red; */
}
table, th, td{
    border: 1px solid black;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}
.feito{
    background-color: green;
    color: azure;
    font-weight: bold;
}
.aprender{
    background-color: rgb(250, 250, 107);
    color: rgb(39, 38, 38);
    font-weight: bold;
}
article.lado-esquerdo{
    width: 73.5%;
    height: 130px;
    margin-top: 10px;
    float: left;
    /* border: 2px solid red; */
    text-align: justify;
    padding: 10px;
}
aside.lado-direito{
    text-align: end;
    font-style: italic;
    float: right;
    height: auto;
    width: 242px;
    padding:0 0 0 50px;
    margin: 0 30px 0 0;
    /* border: 2px solid red; */
}
#img_linkedin{
    width: 30px;
    position: fixed;
    top: 585px;
    left: 1270px;
}
footer{
    height: 13px;
    bottom: 0;
    margin-top: 250px;
    padding: 20px;    
    text-align: center;
    background-color: #cf5c36;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #EEE5E9;
}
.visuallyhidden{
    display: none;
}